@charset 'utf-8'


$full-width: calc(100% - 2px)
$left-margin: calc(68% - 2px)
$nav-top-height: 74px
$top-height: 92px
$left-nav-width: 256px
$right-view-height: 256px
$bg-panel: rgba(255,255,255,1)
$bg-panel-tint: rgba(255,255,255,0.6)
$border: 1px solid lightgray	
$logo-blue: #22A7F0
$logo-brown: #E67E22
$logo-dark: #2C3E50

body
	margin: 0px
	padding: 0px

div
	//border: 1px solid white
//#map-container > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-top-left.esri-ui-corner
	//left: $left-nav-width
#esri_widgets_Search_0
	margin-left: 64px

.button
	display: inline-block
	margin: 4px 8px
	padding: 2px 4px
	border: 2px solid gray
	cursor: pointer
.button:hover
	background: gray
	color: white

#map-container
	position: absolute
	top: $nav-top-height
	left: 256px
	width: calc(100% - 256px)
	height: calc(100% - 78px)
	overflow: hidden
	background: white
	transition: all 0.5s ease-out
	#tools
		position: absolute
		left: 0px
		top: 108px
		margin: 15px
		transition: all 0.5s ease-out
		.tool
			min-height: 32px
			padding-top: 4px
			padding-bottom: 4px
			a#fullScreen
				padding: 8px 10px
				background: white
				color: gray
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
				cursor: pointer
				.fa-compress
					display: none
			a: hover
				box-shadow: inset 0 1px 20px 20px rgba(0, 0, 0, 0.3)
		#compass
		#home
		#basemap
	#searchDiv
		position: absolute
		left: 68px
		top: 12px
		padding: 2px
		//border-radius: 28px
		border: 1px solid lightgray
		background: rgba(255,255,255,0.9)
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
		transition: all 0.5s ease-out
		.ui.action.input
			.ui.icon.button
				i.icon.remove
					display: none

		#searchResult
			.category.results
				display: inline-block
				padding: 4px
				width: 38em
				a.result
					padding: 8px 12px
			.category
				display: none
			.download-results
				padding: 4px
				a
					padding: 2px 16px
					display: none
	.advanced
		display: none
	.advanced.shown
		display: block
		position: absolute
		top: 10px 
		left: 456px
		width: 384px
		height: auto
		background: white
		z-index: 99
		table
			tr
				td
					padding: 4px 12px
					
#nav-top
	width: $full-width
	height: $nav-top-height
	background-image: url('/bg01.png')
	box-shadow: 0px 64px 64px -64px rgba(55,55,55,0.6)
	transition: all 0.5s ease-out
	img#logo
		display: inline-block
		width: 64px
	h1#page-title
		display: inline-block
		padding: 8px
		transform: translateY(-24px)
	#bg
		position: absolute
		top: 68px
		width: 100%
		height: 6px
		border-bottom: $border
		background: linear-gradient(to right, #b42a29, #2752b6)

#nav-left
	position: absolute
	top: $nav-top-height
	width: $left-nav-width
	height: calc(100% - 96px)
	padding: 16px 8px
	z-index: 9
	transition: all 0.5s ease-out
	.ui.toggle.checkbox
		border: 1px solid lightgray
		border-radius: 5px
		margin-bottom: 4px
	.ui.styled.fluid.accordion
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
		.content
			padding-left: 32px
			.ui.toggle.checkbox
				padding-bottom: 8px
		.content
			#status
				.accordion
					.title
						padding: 8px 8px
					.content
						.vs-selection
							margin-top: 4px
							border: 1px solid lightgray
							border-radius: 5px
							width: 100%
							padding: 4px 4px
							.check-title
								.symbol
									float: left
									width: 16px
									height: 16px
									border-radius: 8px

	.item
		padding: 4px 0px
.ui.checkbox
	display: block
	padding: 4px 8px
#top-right-legend
	position: absolute
	width: 264px
	height: 48px
	top: 106px
	right: 0px
	padding: 8px
	//left: $left-margin
	overflow: hidden
	transition: all 0.3s ease-out
	.legend-btns
		padding-bottom: 8px
		text-align: right
		.ui.button
			border-radius: 24px
		.hide-legend
			display: none
	#label
		padding: 8px 4px
	#legend
		height: calc(100% - 8px)
		overflow: scroll
#top-right-legend.shown
	height: 324px
	background: rgba(255,255,255,0.7)
	box-shadow: -4px 4px 12px -4px rgba(55,55,55,0.6)
#bottom-left-view
	position: absolute
	width: 524px
	height: 384px
	top: calc(100% - 398px)
	left: 256px
	display: none
	background: white
	transition: all 0.5s ease-out
	z-index: 99
	//box-shadow: -4px 4px 12px -4px rgba(55,55,55,0.6)
	.report-container,
	.chart-container
		padding: 4px
		border: 1px solid lightgray
		border-radius: 8px
		margin: 4px
		display: inline-block
	.report-container
		width: 324px
	.chart-container
		h3
			text-align: center
		.chart-Selection
			a.chart-selection
				padding: 2px 8px
			.chart-selection.series-container
				display: inline-block
			.ui.dropdown.fluid
				width: auto
				display: inline-block
		.chart
			display: inline-block
	#buttons
		float: right
		i
			cursor: pointer
			padding: 4px
			margin-left: 4px
			transition: all 0.1s
		i:hover
			transform: scale(1.2)
		i.fa.fa-compress.compress
			display: none
td
	a
		margin-left: 8px

#bottom-left-view.large
	width: 864px
	height: 584px
	left: calc(50% - 432px)
	top: calc(50% - 264px)
	box-shadow: 2px 2px 16px 0px rgba(66,66,66,0.4)

#status > div
	cursor: pointer


.cursor-pointer
	cursor: pointer

.esri-popup-content
	.hidden
		display: none
.projects
	.ui.styled.fluid.accordion
		.project
			.content
				a
					padding: 0px 4px
					margin-left: 4px
					cursor: pointer


#modal.modal
	i.close
		position: absolute
		right: 0px
		cursor: pointer
	.content
		a.enlarge
			display: none
		a.edit-project
			cursor: pointer
			margin-left: 8px
			padding: 0px 4px
			span
				font-size: 0.8rem
				margin-left: 4px

body.full-screen
	#map-container > div.esri-view-root > div.esri-ui > div.esri-ui-inner-container.esri-ui-corner-container > div.esri-ui-top-left.esri-ui-corner
		left: 264px
	#map-container
		top: 0px
		left: 0px
		width: 100%
		height: 100%
		#tools
			left: 264px
		#searchDiv
			left: 324px
	#nav-left
		top: 0px
		left: 0px
	#nav-top
		top: -128px
	#bottom-left-view
		left: 0px
		top: calc(100% - 374px)
	#bottom-left-view.large
		width: 864px
		height: 584px
		left: calc(50% - 432px)
		top: calc(50% - 264px)
		box-shadow: 2px 2px 16px 0px rgba(66,66,66,0.4)