doctype html
html
	head
		title the demo
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='/arcgis_js_api/library/4.0/4.0/esri/css/main.css')
		link(rel='stylesheet' href='/semantic/semantic.min.css')
		link(rel='stylesheet' href='stylesheets/dist/style.min.css')
	body
		.index.hidden
			#nav-top
				#bg
				img#logo(src='logo.jpg' alt='logo')
				h1#page-title 国家海洋局东海分局用海项目信息系统
			#nav-left
				.ui.styled.fluid.accordion
					.title.active
						i.icon.dropdown
						|图层选择
					.content.active
						.ui.toggle.checkbox
							input.toggle.toggle-zoning(type='checkbox' name='zoningLyr' value='on')
							label 功能区划
						.ui.toggle.checkbox
							input.toggle.toggle-auth(type='checkbox' name='authLyr' value='on')
							label 确权区域
						.auth-selection
							label 确权区域分类
							select.ui.dropdown.small(name='authLyr')
								option(value=1) 无
								option(value=2) 配号来源
								option(value=3) 用海一级类
								option(value=4) 用海二级类
								option(value=5) 用海方式
					.title
						i.icon.dropdown
						|区域类型统计与分析
					.content
						#statistics.menu
							.item.statistic
								i.icon.fork
								a(data-type='source') 配号来源
							.item.statistic
								i.icon.folder.open
								a(data-type='cata1') 用海一级类
							.item.statistic
								i.icon.folder.open.outline
								a(data-type='cata2') 用海二级类
							.item.statistic
								i.icon.configure
								a(data-type='method') 用海方式
					.title
						i.icon.dropdown
						|项目状态统计与分析
					.content
						#status.menu
							.item.statistic
								i.icon.pie.chart
								a(data-type='进展情况') 项目进展状态
							.item.statistic
								i.icon.area.chart
								a(data-type='填海情况') 填海情况
							.item.statistic
								i.icon.bar.chart
								a(data-type='海域使用上报情况') 海域使用上报情况
							.item.statistic
								i.icon.legal
								a(data-type='违法情况') 违法查处
							.item.statistic
								i.icon.bar.chart
								a(data-type='用海调整情况') 用海调整情况
							.item.statistic
								i.icon.file.text.outline
								a(data-type='确权发证情况') 确权发证情况
							.item.statistic
								i.icon.bar.chart
								a(data-type='受益方上报情况') 利益相关者情况
					.title
						i.icon.dropdown
						|统计报表
					.content
						#reports.menu
							.item.statistic
								i.icon.file.excel.outline
								a(data-type='method') 统计报表
							.item.statistic
								i.icon.bar.chart
								a(data-type='progress_status') 项目进展情况
			#map-container
				#tools
					.tool
						#compass
					.tool
						#home
					.tool
						#basemap
				#searchDiv
					.ui.search
						.ui.input.icon
							input.prompt(type='text' placeholder='搜索区域...')
							i.search.icon
						.ui.button.basic 高级
						#searchResult.results
			#bottom-left-view.hidden
				.inner
					.chartSelection
						label 图表类型：
						select.ui.dropdown.small(name='chartType')
							option(value='column2d') 柱状
							option(value='column3d') 柱状3D
							option(value='pie2d') 饼状
							option(value='pie3d') 饼状3D
							option(value='line') 折线
						#buttons
							//i.icon.undock.caret.up(title=undock)
							i.icon.close(title=close onclick="$('#bottom-left-view').hide()")
					#myChart.chart
					//#myChart2.chart
		script(src='/javascripts/dist/jquery-2.1.4.min.js')
		script(src='/arcgis_js_api/library/4.0/4.0/init.js')
		//script(src='https://js.arcgis.com/4.0/')
		script(src='/javascripts/dist/chart.min.js')
		script(type="text/javascript" src="fusioncharts/js/fusioncharts.js")
		script(type="text/javascript" src="fusioncharts/js/themes/fusioncharts.theme.fint.js")
		script(src='/semantic/semantic.min.js')
		script(src='/javascripts/dist/core.babeled.min.js')
		script(src='/javascripts/dist/app.babeled.min.js')
